// DM Sans Google Link
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

main {
  width: 85%;
  margin: 30px auto;
  margin-bottom: 50px;
  .search {
    display: flex;
    justify-content: right;
    width: 30%;
    margin: auto;
    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #36454f;
      outline: none;
      font-family: "DM Sans", sans-serif;
      font-size: 16px;
      color: #36454F;
    }
  }
  .loader {
    margin: 250px auto;
    border: 8px solid #3498db; /* Loader color */
    border-top: 8px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  section {
    width: 100%;
    background: #40475c;
    border-radius: 12px;
    padding: 50px;
    margin: 50px auto;

    h1 {
      font-weight: bolder;
      padding-bottom: 30px;
      color: #fff;
      font-family: "DM Sans", sans-serif;
      font-size: 40px;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      overflow: hidden;
      width: 100%;

      .image_container {
        width: 100%;
        img {
          height: 350px;
          width: 100%;
          outline: none;
          border-radius: 20px;
        }
        .nft_card {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          background: #ebeff8;
          border-radius: 12px;
          color: #0d0c0e;
          margin-bottom: 30px;
          padding: 20px;
          transition: all 0.2s ease-in;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          .nft_content {
            h2 {
              text-align: center;
              font-family: "DM Sans", sans-serif;
            }
          }
        }
      }
    }
  }
}

//  Responsive starts here
// large screens
@media (max-width: 1280px) {
  main {
    section {
      width: 90%;
      .container {
        gap: 30px;
      }
    }
  }
}

// medium screens
@media (max-width: 991px) {
  main {
    .search{
      width: 50%;
    }
    section {
      padding: 25px;
      h1 {
        text-align: center;
      }
      .container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// Small screens
@media (max-width: 480px) {
  main {
    .search{
      width: 100%;
    }
    section {
      width: 98%;
      margin: 50px auto;
      h1 {
        font-size: 28px;
      }
      .container {
        grid-template-columns: 1fr;
        .image_container {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
